$body-bg: #e5e5e5;
$primary: #7bdff2;
$secondary: #f7d6e0;
$success: #b2f7ef;
$info: #f2b5d4;
$warning: #fefb6b;
$danger: #ea0606;
$light: #eff7f6;
$dark: #7bdff2;
$grey: #cbcbcb;
$black: #302b2d;

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
